.header-search__toggle-link:before,
.icon-arrow,
.lang-select__toggle-link:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2227px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2027%2017%22%20style%3D%22enable-background%3Anew%200%200%2027%2017%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3Bstroke%3A%23FF553E%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cpolygon%20id%3D%22XMLID_5_%22%20class%3D%22st0%22%20points%3D%2213.5%2C15.1%202%2C1%2024.8%2C1%20%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-event-agenda-overview__event--break:after,
.icon-ascend_break {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22ICONS%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linejoin%3Around%3Bstroke-width%3A8px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAscend_Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M56.24%2C60.68h81.2a25.68%2C25.68%2C0%2C1%2C1%2C0%2C51.35H132.3%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M81.7%2C145h32.75c6.57-1.76%2C16-22.33%2C17.17-28l11.7-73h-90L65%2C117C65.53%2C122.67%2C75.12%2C143.24%2C81.7%2C145Z%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2299.66%22%20y1%3D%2260.68%22%20x2%3D%2299.66%22%20y2%3D%2243.98%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%22122.32%22%20y1%3D%2260.68%22%20x2%3D%22122.32%22%20y2%3D%2243.98%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2277%22%20y1%3D%2260.68%22%20x2%3D%2277%22%20y2%3D%2243.98%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2258%22%20y1%3D%22161%22%20x2%3D%22140%22%20y2%3D%22161%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-event-agenda-overview__event--food:after,
.icon-ascend_food {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22ICONS%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linejoin%3Around%3Bstroke-width%3A8px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAscend_Icons_FOOD%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M85.43%2C23.34v51.5c0%2C10.28%2C9.34%2C18.95%2C9.34%2C18.95l15.13%2C15.48V165.2a8.8%2C8.8%2C0%2C1%2C1-17.6%2C0l-.23-55.92%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M117.2%2C23.34v51.5c0%2C7.88-5.49%2C14.82-8.06%2C17.62%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2286.37%22%20y1%3D%2270.44%22%20x2%3D%22116.27%22%20y2%3D%2270.44%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%22101.32%22%20y1%3D%2269.5%22%20x2%3D%22101.32%22%20y2%3D%2223.34%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-event-agenda-overview__event--lab:after,
.icon-ascend_lab {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22ICONS%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linejoin%3Around%3Bstroke-width%3A8px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAscend_Icons%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22115.32%20100.21%20115.32%2042.95%2086.68%2042.95%2086.68%20100.21%2055%20161.05%20145%20161.05%20115.32%20100.21%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2271%22%20y1%3D%2242.95%22%20x2%3D%22132%22%20y2%3D%2242.95%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%22120.09%22%20y1%3D%22110.1%22%20x2%3D%22100%22%20y2%3D%22110.1%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%22128%22%20y1%3D%22127.1%22%20x2%3D%22100%22%20y2%3D%22127.1%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%22137%22%20y1%3D%22144.1%22%20x2%3D%22100%22%20y2%3D%22144.1%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-event-agenda-overview__event--party:after,
.icon-ascend_party {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22ICONS%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linejoin%3Around%3Bstroke-width%3A8px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAscend_Icons%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22102.02%20106.59%2069.28%2050.77%20134.77%2050.77%20102.02%20106.59%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%22102.02%22%20y1%3D%22161%22%20x2%3D%22102.02%22%20y2%3D%22100%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2278%22%20y1%3D%22161%22%20x2%3D%22127%22%20y2%3D%22161%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M117%2C50.5a16.49%2C16.49%2C0%2C1%2C1%2C9.72%2C15%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-event-agenda-overview__event--speaker:after,
.icon-ascend_speaker {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22ICONS%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-linejoin%3Around%3Bstroke-width%3A8px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAscend_Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M51.46%2C79.09H66.55V103a33.42%2C33.42%2C0%2C0%2C0%2C66.84%2C0V79.09h13.15%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M83.15%2C47.82a16.82%2C16.82%2C0%2C1%2C1%2C33.64%2C0v52.7a16.82%2C16.82%2C0%2C1%2C1-33.64%2C0Z%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2283.15%22%20y1%3D%2273.69%22%20x2%3D%22114.52%22%20y2%3D%2273.69%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2299.97%22%20y1%3D%22139.07%22%20x2%3D%2299.97%22%20y2%3D%22161%22%2F%3E%3Cline%20class%3D%22cls-1%22%20x1%3D%2278.04%22%20y1%3D%22161%22%20x2%3D%22121.9%22%20y2%3D%22161%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-call-to-action__list li:before,
.icon-check-mark {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2230px%22%20height%3D%2227px%22%20viewBox%3D%220%200%2030%2027%22%20style%3D%22enable-background%3Anew%200%200%2030%2027%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FF553E%3Bstroke-width%3A3%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M27.8%2C1.5L12.3%2C24.1c-0.8%2C1.2-2.2%2C1.2-3%2C0L5.9%2C18c-0.8-1.1-2-1.1-2.8%2C0l-1.6%2C2.4%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-event-agenda-overview__event .c-event-agenda-overview__link,
.icon-chevron {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%2020%2036%22%20style%3D%22enable-background%3Anew%200%200%2020%2036%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22chevron.svg%22%20class%3D%22st0%22%20d%3D%22M19.6%2C16.9c0%2C0-0.1-0.1-0.1-0.1L2.3%2C0.4C1.8-0.1%2C1-0.1%2C0.4%2C0.4c0%2C0%2C0%2C0-0.1%2C0.1%20c-0.5%2C0.6-0.5%2C1.5%2C0%2C2L16.7%2C18L0.4%2C33.5c-0.5%2C0.6-0.5%2C1.5%2C0%2C2c0.5%2C0.5%2C1.4%2C0.6%2C1.9%2C0c0%2C0%2C0%2C0%2C0%2C0l17.2-16.4c0.1%2C0%2C0.1-0.1%2C0.2-0.1%20c0.2-0.3%2C0.3-0.7%2C0.3-1C20%2C17.6%2C19.9%2C17.2%2C19.6%2C16.9z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-cross-bold {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2226px%22%20height%3D%2226px%22%20viewBox%3D%220%200%2026%2026%22%20style%3D%22enable-background%3Anew%200%200%2026%2026%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23F05733%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Crect%20x%3D%22-3.9%22%20y%3D%2211.5%22%20transform%3D%22matrix%280.7071%20-0.7071%200.7071%200.7071%20-5.3847%2013%29%22%20class%3D%22st0%22%20width%3D%2233.8%22%20height%3D%223%22%2F%3E%20%3Crect%20x%3D%2211.5%22%20y%3D%22-3.9%22%20transform%3D%22matrix%280.7071%20-0.7071%200.7071%200.7071%20-5.3847%2013.0001%29%22%20class%3D%22st0%22%20width%3D%223%22%20height%3D%2233.8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-cross,
.menu-main__close-icon {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2244px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2044%2044%22%20style%3D%22enable-background%3Anew%200%200%2044%2044%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FF553E%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cline%20id%3D%22XMLID_1_%22%20class%3D%22st0%22%20x1%3D%226.4%22%20y1%3D%226.4%22%20x2%3D%2237.6%22%20y2%3D%2237.6%22%2F%3E%3Cline%20id%3D%22XMLID_21_%22%20class%3D%22st0%22%20x1%3D%2237.5%22%20y1%3D%226.4%22%20x2%3D%226.4%22%20y2%3D%2237.5%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-displays {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22471px%22%20height%3D%22350px%22%20viewBox%3D%220%200%20471%20350%22%20style%3D%22enable-background%3Anew%200%200%20471%20350%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A12%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22XMLID_2_%22%3E%20%3Cpath%20id%3D%22XMLID_6_%22%20class%3D%22st0%22%20d%3D%22M211.7%2C228.3v50.1c0%2C0-1.1%2C64.3%2C64.3%2C64.3%22%2F%3E%20%3Cpath%20id%3D%22XMLID_5_%22%20class%3D%22st0%22%20d%3D%22M94.4%2C342.6c65.4%2C0%2C64.3-64.3%2C64.3-64.3v-50.1H223h67.1V107c0-4.8%2C3.9-8.7%2C8.7-8.7h65.6V14.7%20%20c0-4.8-3.9-8.7-8.7-8.7h-341C9.9%2C6%2C6%2C9.9%2C6%2C14.7v204.8c0%2C4.8%2C3.9%2C8.7%2C8.7%2C8.7H140%22%2F%3E%20%3Cpath%20id%3D%22XMLID_4_%22%20class%3D%22st0%22%20d%3D%22M396.7%2C268.8v-87.1c0-6.1%2C5-11.2%2C11.2-11.2h45.5c6.1%2C0%2C11.2%2C5%2C11.2%2C11.2v87.1%20%20c0%2C6.1-5%2C11.2-11.2%2C11.2h-45.5C401.8%2C280%2C396.7%2C275%2C396.7%2C268.8z%22%2F%3E%20%3Cpath%20id%3D%22XMLID_3_%22%20class%3D%22st0%22%20d%3D%22M396.7%2C271.3v-92c0-4.8%2C3.9-8.7%2C8.7-8.7h11.9V107c0-4.8-3.9-8.7-8.7-8.7H298.8%20%20c-4.8%2C0-8.7%2C3.9-8.7%2C8.7v164.3c0%2C4.8%2C3.9%2C8.7%2C8.7%2C8.7h106.6C400.7%2C280%2C396.7%2C276.1%2C396.7%2C271.3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-epi_logo,
.site-logo__link {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22122px%22%20height%3D%2250px%22%20viewBox%3D%220%200%20122%2050%22%20style%3D%22enable-background%3Anew%200%200%20122%2050%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FF553E%3B%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22XMLID_4_%22%20class%3D%22st0%22%20d%3D%22M61.4%2C11.6c0-3.5%2C2-6%2C5.3-6c3.2%2C0%2C5.3%2C2.4%2C5.3%2C5.9v13.8c0%2C3.2-1.3%2C6.2-5.6%2C6.2h-1.4v5.5h1.4%20c4%2C0%2C6.1-1.4%2C9.5-4.8l22.9-23v20c0%2C5.6%2C3.3%2C8%2C7.1%2C8c2.6%2C0%2C4.1-0.9%2C6.5-3.3l9.3-9.3l-3.8-3.6l-9.4%2C9.3c-1.3%2C1.2-1.8%2C1.4-2.3%2C1.4%20c-1.2%2C0-2-0.9-2-2.2V3.3c0-1.7-0.9-3.1-2.7-3.1c-0.8%2C0-1.4%2C0.3-2.7%2C1.6L77.4%2C23.3V10.7C77.4%2C4.8%2C72.6%2C0%2C66.7%2C0%20c-3.2%2C0-5.5%2C1.1-8.7%2C4.3L32.8%2C29.5c-1.9%2C1.9-2.9%2C2.5-4.7%2C2.5c-2.8%2C0-5.2-2.4-5.2-5.3L38%2C11.4c0.6-0.6%2C0.9-1.5%2C0.8-2.3%20C38%2C3.9%2C33.5%2C0%2C28.2%2C0c-2.9%2C0-5.3%2C0.8-8.9%2C4.3L0%2C23.7l3.8%2C3.8l13.6-13.6v12c0%2C7%2C4.7%2C11.4%2C10.7%2C11.4c3.5%2C0%2C5.5-1.1%2C8.6-4.2L56%2C13.8%20V50h5.4V11.6z%20M22.9%2C19v-8.4c0-2.9%2C2.4-5.3%2C5.3-5.3c2.2%2C0%2C4.1%2C1.4%2C5%2C3.4L22.9%2C19z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-globe,
.icon__globe,
.lang-select__toggle-link:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2243px%22%20height%3D%2243px%22%20viewBox%3D%220%200%2043%2043%22%20style%3D%22enable-background%3Anew%200%200%2043%2043%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FF553E%3Bstroke-width%3A3%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%20.st1%7Bfill%3Anone%3Bstroke%3A%23FF553E%3Bstroke-width%3A4%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%2221.5%22%20cy%3D%2221.5%22%20r%3D%2220%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M24%2C1.8L12.1%2C13.9c0%2C0-4.1%2C4.4-8.3-1.1%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M7.4%2C35.4l13.1-13.1c0%2C0-0.3-1%2C0.9-1c1.2%2C0%2C1.1%2C0.8%2C1.1%2C2.2c0%2C1.4%2C0%2C5.3%2C0%2C5.3s1.1%2C2.3%2C3.6%2C2.3%20c0%2C0%2C1.6%2C0.1%2C2.7-1L41%2C18.2%22%2F%3E%3Cg%3E%20%3Ccircle%20class%3D%22st1%22%20cx%3D%2278.1%22%20cy%3D%2225.3%22%20r%3D%2216.5%22%2F%3E%20%3Cline%20class%3D%22st1%22%20x1%3D%2290%22%20y1%3D%2237.7%22%20x2%3D%22101.6%22%20y2%3D%2249.3%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-mail {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22371px%22%20height%3D%22240px%22%20viewBox%3D%22104%20-95%20371%20240%22%20style%3D%22enable-background%3Anew%20104%20-95%20371%20240%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A12%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22XMLID_2_%22%20class%3D%22st0%22%20d%3D%22M104-89h334.4c16.7%2C0%2C30.3%2C13.6%2C30.3%2C30.3v166.9c0%2C16.7-13.6%2C30.3-30.3%2C30.3h-298%20c-16.7%2C0.1-30.4-13.6-30.4-30.2V-0.4v-5.7c0%2C0%2C0.4-31.3%2C31.3-31.3c0%2C0%2C17.3-0.6%2C28.3%2C13.8L241.8%2C67c0%2C0%2C15.8%2C21.1%2C44.6%2C21%20c0%2C0%2C27.9%2C3.1%2C54.6-24.2L467.4-62.7%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-menu {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2249px%22%20height%3D%2237px%22%20viewBox%3D%220%200%2049%2037%22%20style%3D%22enable-background%3Anew%200%200%2049%2037%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FF553E%3B%7D%3C%2Fstyle%3E%3Crect%20id%3D%22XMLID_1_%22%20class%3D%22st0%22%20width%3D%2249%22%20height%3D%227%22%2F%3E%3Crect%20id%3D%22XMLID_3_%22%20y%3D%2215%22%20class%3D%22st0%22%20width%3D%2249%22%20height%3D%227%22%2F%3E%3Crect%20id%3D%22XMLID_4_%22%20y%3D%2230%22%20class%3D%22st0%22%20width%3D%2249%22%20height%3D%227%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-play-xl {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%20120%20120%22%20style%3D%22enable-background%3Anew%200%200%20120%20120%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FF553E%3B%7D%20.st1%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A9%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Ccircle%20class%3D%22st0%22%20cx%3D%2260%22%20cy%3D%2260%22%20r%3D%2260%22%2F%3E%20%3Cpath%20class%3D%22st1%22%20d%3D%22M46%2C35.8c0-6.9%2C8.4-10.4%2C13.3-5.5c8.1%2C8%2C16.3%2C16%2C24.4%2C24c3.1%2C3.1%2C3.1%2C8.1%2C0%2C11.2c-8.1%2C8.1-16.3%2C16.1-24.4%2C24.2%20%20C54.4%2C94.6%2C46%2C91.1%2C46%2C84.2V35.8z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.c-media__trigger:after,
.icon-play_white {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%20207.4%20310.3%22%20style%3D%22enable-background%3Anew%200%200%20207.4%20310.3%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A36%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M18%2C51.4c0-29.7%2C35.9-44.5%2C56.9-23.6c34.8%2C34.3%2C69.7%2C68.6%2C104.5%2C102.9c13.4%2C13.2%2C13.4%2C34.8%2C0.1%2C48%20c-34.8%2C34.6-69.7%2C69.2-104.6%2C103.8c-21%2C21-56.9%2C6.1-56.9-23.6L18%2C51.4z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-plus,
.menu-main__toggle:after,
.submenu-main-list__child-toggle:after,
.submenu-main-toggler:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2244px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2044%2044%22%20style%3D%22enable-background%3Anew%200%200%2044%2044%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FF553E%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cline%20id%3D%22XMLID_1_%22%20class%3D%22st0%22%20x1%3D%2222%22%20y1%3D%220%22%20x2%3D%2222%22%20y2%3D%2244%22%2F%3E%3Cline%20id%3D%22XMLID_21_%22%20class%3D%22st0%22%20x1%3D%2244%22%20y1%3D%2222%22%20x2%3D%220%22%20y2%3D%2222%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-quote-OLD {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%2066.8%2059.2%22%20style%3D%22enable-background%3Anew%200%200%2066.8%2059.2%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23666666%3Bstroke-width%3A5%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M3.4%2C48.3c5-3.3%2C8.8-6.8%2C11.2-10.5c2.5-3.7%2C3.7-8.5%2C3.7-14.3c-0.4%2C0.1-0.9%2C0.2-1.6%2C0.2c-2.8%2C0-5.2-0.9-7.4-2.6%20%20c-2.1-1.7-3.2-4.2-3.2-7.4c0-3.4%2C1-6.2%2C3-8.2c2-2%2C4.5-3%2C7.6-3c3.8%2C0%2C6.9%2C1.6%2C9.2%2C4.7c2.3%2C3.1%2C3.4%2C7.6%2C3.4%2C13.4%20%20c0%2C8-1.8%2C14.8-5.5%2C20.6C20.1%2C47%2C14.9%2C51.8%2C8%2C55.8L3.4%2C48.3z%20M38.4%2C48.3c5-3.3%2C8.8-6.8%2C11.2-10.5c2.5-3.7%2C3.7-8.5%2C3.7-14.3%20%20c-0.4%2C0.1-0.9%2C0.2-1.6%2C0.2c-2.8%2C0-5.2-0.9-7.4-2.6c-2.1-1.7-3.2-4.2-3.2-7.4c0-3.4%2C1-6.2%2C3-8.2s4.5-3%2C7.6-3c3.8%2C0%2C6.9%2C1.6%2C9.2%2C4.7%20%20c2.3%2C3.1%2C3.4%2C7.6%2C3.4%2C13.4c0%2C8-1.8%2C14.8-5.5%2C20.6C55.2%2C47%2C49.9%2C51.8%2C43%2C55.8L38.4%2C48.3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-quote-white-OLD {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%2066.8%2059.2%22%20style%3D%22enable-background%3Anew%200%200%2066.8%2059.2%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A5%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M3.4%2C48.3c5-3.3%2C8.8-6.8%2C11.2-10.5c2.5-3.7%2C3.7-8.5%2C3.7-14.3c-0.4%2C0.1-0.9%2C0.2-1.6%2C0.2c-2.8%2C0-5.2-0.9-7.4-2.6%20%20c-2.1-1.7-3.2-4.2-3.2-7.4c0-3.4%2C1-6.2%2C3-8.2c2-2%2C4.5-3%2C7.6-3c3.8%2C0%2C6.9%2C1.6%2C9.2%2C4.7c2.3%2C3.1%2C3.4%2C7.6%2C3.4%2C13.4%20%20c0%2C8-1.8%2C14.8-5.5%2C20.6C20.1%2C47%2C14.9%2C51.8%2C8%2C55.8L3.4%2C48.3z%20M38.4%2C48.3c5-3.3%2C8.8-6.8%2C11.2-10.5c2.5-3.7%2C3.7-8.5%2C3.7-14.3%20%20c-0.4%2C0.1-0.9%2C0.2-1.6%2C0.2c-2.8%2C0-5.2-0.9-7.4-2.6c-2.1-1.7-3.2-4.2-3.2-7.4c0-3.4%2C1-6.2%2C3-8.2s4.5-3%2C7.6-3c3.8%2C0%2C6.9%2C1.6%2C9.2%2C4.7%20%20c2.3%2C3.1%2C3.4%2C7.6%2C3.4%2C13.4c0%2C8-1.8%2C14.8-5.5%2C20.6C55.2%2C47%2C49.9%2C51.8%2C43%2C55.8L38.4%2C48.3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-quote-white,
.quote--light .quote__text:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%2066.8%2059.2%22%20style%3D%22enable-background%3Anew%200%200%2066.8%2059.2%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A5%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M25.4%2C45.7H3.1V23.4l7.4-20h13.6l-7.4%2C20h8.7V45.7z%20M64.2%2C45.7H41.9V23.4l7.4-20H63l-7.4%2C20h8.7V45.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-quote,
.quote__text:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%2066.8%2059.2%22%20style%3D%22enable-background%3Anew%200%200%2066.8%2059.2%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23666666%3Bstroke-width%3A5%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M25.4%2C45.7H3.1V23.4l7.4-20h13.6l-7.4%2C20h8.7V45.7z%20M64.2%2C45.7H41.9V23.4l7.4-20H63l-7.4%2C20h8.7V45.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.button-toggle:after,
.icon-read-more-red,
.read-more:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%2027%2027%22%20style%3D%22enable-background%3Anew%200%200%2027%2027%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FF553E%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M23%2C4c-2.5-2.5-5.9-4-9.5-4S6.5%2C1.4%2C4%2C4c-2.5%2C2.5-4%2C5.9-4%2C9.5c0%2C3.6%2C1.4%2C7%2C4%2C9.5c2.5%2C2.5%2C5.9%2C4%2C9.5%2C4%20s7-1.4%2C9.5-4s4-5.9%2C4-9.5C27%2C9.9%2C25.6%2C6.5%2C23%2C4z%20M21.8%2C21.8c-2.2%2C2.2-5.1%2C3.4-8.3%2C3.4c-3.1%2C0-6.1-1.2-8.3-3.4%20c-1.9-1.9-3-4.2-3.3-6.8h8.5v3.9c0%2C1.1%2C0.6%2C2%2C1.6%2C2.4c0.3%2C0.1%2C0.7%2C0.2%2C1%2C0.2c0.7%2C0%2C1.3-0.3%2C1.8-0.8c0.6-0.6%2C1.3-1.3%2C1.9-1.9%20c1.1-1.1%2C2.2-2.2%2C3.4-3.3c0.5-0.5%2C0.8-1.2%2C0.8-1.9c0-0.7-0.3-1.4-0.8-1.9c-1.2-1.2-2.4-2.3-3.5-3.5l-1.8-1.7c-0.8-0.8-1.8-1-2.8-0.6%20c-1%2C0.4-1.6%2C1.3-1.6%2C2.4v2.8h1.8V8.3c0-0.5%2C0.4-0.7%2C0.5-0.7c0.1%2C0%2C0.5-0.2%2C0.8%2C0.2l1.8%2C1.7c1.2%2C1.2%2C2.4%2C2.3%2C3.5%2C3.5%20c0.2%2C0.2%2C0.2%2C0.4%2C0.2%2C0.6c0%2C0.2-0.1%2C0.4-0.2%2C0.6c-1.1%2C1.1-2.3%2C2.2-3.4%2C3.3c-0.6%2C0.6-1.3%2C1.3-1.9%2C1.9c-0.3%2C0.3-0.7%2C0.2-0.8%2C0.2%20c-0.1%2C0-0.5-0.2-0.5-0.7v-5.7H1.8c0.1-3%2C1.3-5.8%2C3.4-7.9c2.2-2.2%2C5.1-3.4%2C8.3-3.4c3.1%2C0%2C6.1%2C1.2%2C8.3%2C3.4c2.2%2C2.2%2C3.4%2C5.1%2C3.4%2C8.3%20S24%2C19.6%2C21.8%2C21.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.header-search__label,
.header-search__toggle-link:after,
.icon-search,
.icon__search {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2243px%22%20height%3D%2243px%22%20viewBox%3D%220%200%2043%2043%22%20style%3D%22enable-background%3Anew%200%200%2043%2043%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23FF553E%3Bstroke-width%3A4%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%2218.5%22%20cy%3D%2218.5%22%20r%3D%2216.5%22%2F%3E%3Cline%20class%3D%22st0%22%20x1%3D%2229.9%22%20y1%3D%2229.9%22%20x2%3D%2241.5%22%20y2%3D%2241.5%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-skarmstorlekar {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22330px%22%20height%3D%22350px%22%20viewBox%3D%220%200%20330%20350%22%20style%3D%22enable-background%3Anew%200%200%20330%20350%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A12%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22XMLID_2_%22%3E%20%3Cpath%20id%3D%22XMLID_6_%22%20class%3D%22st0%22%20d%3D%22M71.1%2C228.1v50.1c0%2C0-1.1%2C64.3%2C64.3%2C64.3%22%2F%3E%20%3Cpath%20id%3D%22XMLID_5_%22%20class%3D%22st0%22%20d%3D%22M-46.2%2C342.5c65.4%2C0%2C64.3-64.3%2C64.3-64.3v-50.1h64.3h67.1V106.8c0-4.8%2C3.9-8.7%2C8.7-8.7h65.6%20%20V14.6c0-4.8-3.9-8.7-8.7-8.7h-341c-4.8%2C0-8.7%2C3.9-8.7%2C8.7v204.8c0%2C4.8%2C3.9%2C8.7%2C8.7%2C8.7H-0.7%22%2F%3E%20%3Cpath%20id%3D%22XMLID_4_%22%20class%3D%22st0%22%20d%3D%22M256.1%2C268.7v-87.1c0-6.1%2C5-11.2%2C11.2-11.2h45.5c6.1%2C0%2C11.2%2C5%2C11.2%2C11.2v87.1%20%20c0%2C6.1-5%2C11.2-11.2%2C11.2h-45.5C261.1%2C279.9%2C256.1%2C274.9%2C256.1%2C268.7z%22%2F%3E%20%3Cpath%20id%3D%22XMLID_3_%22%20class%3D%22st0%22%20d%3D%22M256.1%2C271.2v-92c0-4.8%2C3.9-8.7%2C8.7-8.7h11.9v-63.6c0-4.8-3.9-8.7-8.7-8.7H158.2%20%20c-4.8%2C0-8.7%2C3.9-8.7%2C8.7v164.3c0%2C4.8%2C3.9%2C8.7%2C8.7%2C8.7h106.6C260%2C279.9%2C256.1%2C276%2C256.1%2C271.2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-social_facebook {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22115px%22%20height%3D%22115px%22%20viewBox%3D%220%200%20115%20115%22%20style%3D%22enable-background%3Anew%200%200%20115%20115%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A8%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%20.st1%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23333333%3B%7D%3C%2Fstyle%3E%3Ccircle%20id%3D%22XMLID_2_%22%20class%3D%22st0%22%20cx%3D%2257.5%22%20cy%3D%2257.5%22%20r%3D%2253.5%22%2F%3E%3Cpath%20id%3D%22XMLID_1_%22%20class%3D%22st1%22%20d%3D%22M69.6%2C48.9h-9.9v-7.2c0-2.2%2C2.3-2.7%2C3.4-2.7h6.4v-9.7l-7.3%2C0c-10%2C0-12.2%2C7.2-12.2%2C11.9v7.8h-7.2%20v10H50v27h9.8V59h8.3L69.6%2C48.9z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-social_linkedin {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22115px%22%20height%3D%22115px%22%20viewBox%3D%220%200%20115%20115%22%20style%3D%22enable-background%3Anew%200%200%20115%20115%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A8%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%20.st1%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23333333%3B%7D%3C%2Fstyle%3E%3Ccircle%20id%3D%22XMLID_4_%22%20class%3D%22st0%22%20cx%3D%2257.5%22%20cy%3D%2257.5%22%20r%3D%2253.5%22%2F%3E%3Cg%3E%20%3Crect%20id%3D%22XMLID_3_%22%20x%3D%2232.2%22%20y%3D%2246.5%22%20class%3D%22st1%22%20width%3D%2210%22%20height%3D%2239.9%22%2F%3E%20%3Cpath%20id%3D%22XMLID_2_%22%20class%3D%22st1%22%20d%3D%22M72.1%2C46.5c-8.5%2C0.1-12.7%2C6.4-13.3%2C6.6v-6.6h-10v39.9h10V63.1c0-0.9%2C2.1-7.7%2C10-6.6%20%20c4.2%2C0.3%2C6.5%2C5.9%2C6.7%2C6.6v23.3l9.9%2C0V58.8C85%2C54.8%2C83%2C46.6%2C72.1%2C46.5L72.1%2C46.5z%22%2F%3E%20%3Cpath%20id%3D%22XMLID_1_%22%20class%3D%22st1%22%20d%3D%22M37.1%2C33.2c-2.8%2C0-5%2C2.2-5%2C5c0%2C2.8%2C2.2%2C5%2C5%2C5c2.8%2C0%2C5-2.2%2C5-5C42.1%2C35.4%2C39.9%2C33.2%2C37.1%2C33.2%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-social_tvitter {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22115px%22%20height%3D%22115px%22%20viewBox%3D%220%200%20115%20115%22%20style%3D%22enable-background%3Anew%200%200%20115%20115%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A8%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%20.st1%7Bfill%3A%23333333%3B%7D%3C%2Fstyle%3E%3Ccircle%20id%3D%22XMLID_3_%22%20class%3D%22st0%22%20cx%3D%2257.5%22%20cy%3D%2257.5%22%20r%3D%2253.5%22%2F%3E%3Cg%3E%20%3Cpath%20class%3D%22st1%22%20d%3D%22M85.2%2C47.5l0%2C1.6c0%2C16.4-12.5%2C35.3-35.3%2C35.3c-7%2C0-13.5-2.1-19-5.6c1%2C0.1%2C1.9%2C0.2%2C3%2C0.2c5.8%2C0%2C11.2-2%2C15.4-5.3%20%20c-5.4-0.1-10-3.7-11.6-8.6c0.8%2C0.2%2C1.5%2C0.2%2C2.3%2C0.2c1.1%2C0%2C2.2-0.2%2C3.3-0.4c-5.7-1.1-9.9-6.1-9.9-12.1v-0.2c1.7%2C0.9%2C3.6%2C1.5%2C5.6%2C1.5%20%20c-3.3-2.2-5.5-6-5.5-10.3c0-2.3%2C0.6-4.4%2C1.7-6.2C41.3%2C45%2C50.4%2C50%2C60.7%2C50.5c-0.2-0.9-0.3-1.8-0.3-2.8c0-6.8%2C5.5-12.4%2C12.4-12.4%20%20c3.6%2C0%2C6.8%2C1.5%2C9.1%2C3.9c2.8-0.6%2C5.5-1.6%2C7.9-3c-0.9%2C2.9-2.9%2C5.3-5.5%2C6.9c2.5-0.3%2C4.9-1%2C7.1-2C89.8%2C43.6%2C87.6%2C45.7%2C85.2%2C47.5%20%20L85.2%2C47.5z%20M85.2%2C47.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

.icon-social_youtube {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22115px%22%20height%3D%22115px%22%20viewBox%3D%220%200%20115%20115%22%20style%3D%22enable-background%3Anew%200%200%20115%20115%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A8%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%20.st1%7Bfill%3A%23333333%3B%7D%3C%2Fstyle%3E%3Ccircle%20id%3D%22XMLID_2_%22%20class%3D%22st0%22%20cx%3D%2257.5%22%20cy%3D%2257.5%22%20r%3D%2253.5%22%2F%3E%3Cg%3E%20%3Cpath%20class%3D%22st1%22%20d%3D%22M88.5%2C46.1c0%2C0-0.6-4.4-2.5-6.3c-2.4-2.5-5.1-2.5-6.3-2.7c-8.8-0.6-22.1-0.6-22.1-0.6h0c0%2C0-13.3%2C0-22.1%2C0.6%20%20c-1.2%2C0.1-3.9%2C0.2-6.3%2C2.7c-1.9%2C1.9-2.5%2C6.3-2.5%2C6.3s-0.6%2C5.1-0.6%2C10.2v4.8c0%2C5.1%2C0.6%2C10.2%2C0.6%2C10.2s0.6%2C4.4%2C2.5%2C6.3%20%20c2.4%2C2.5%2C5.6%2C2.4%2C7%2C2.7c5.1%2C0.5%2C21.5%2C0.6%2C21.5%2C0.6s13.3%2C0%2C22.1-0.7c1.2-0.1%2C3.9-0.2%2C6.3-2.7c1.9-1.9%2C2.5-6.3%2C2.5-6.3%20%20s0.6-5.1%2C0.6-10.2v-4.8C89.1%2C51.2%2C88.5%2C46.1%2C88.5%2C46.1%20M51%2C66.9l0-17.7L68%2C58.1L51%2C66.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; }

body,
html {
  font-family: 'Simplon Norm', Arial, Gill Sans MT;
  font-size: 16px;
  line-height: 1.42857;
  overflow-x: hidden; }

h1 {
  font-family: Melior, Arial, Gill Sans MT;
  font-weight: normal !important; }

h2,
h3,
h4 {
  font-family: 'Simplon Norm', Arial, Gill Sans MT;
  font-weight: bold; }

.epiContent h2 {
  font-size: 36px;
  font-weight: normal; }

li {
  line-height: inherit; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
button,
html,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Simplon Norm", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  text-align: left; }

a {
  color: #ff5336;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #e92200; }

a:visited {
  color: #ff5336; }

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

/*buttons styling*/
.lto-button {
  background-color: #05149B;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  font-size: 16px;
  font-family: "Simplon Norm",sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  transition: all 0.2s ease-in-out; }
  .lto-button:active, .lto-button:focus, .lto-button:hover {
    text-decoration: none !important;
    background-color: #030e6a;
    color: #fff; }
  .lto-button .fa {
    vertical-align: top;
    font-size: 16px; }
  .lto-button span {
    line-height: 1;
    padding: 0 4px;
    vertical-align: middle; }

.clearfix {
  *zoom: 1; }
  .clearfix:after, .clearfix:before {
    display: table;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    clear: both; }

.lto-page-container {
  width: 1280px;
  margin: 0 auto; }
  .lto-page-container__inner {
    width: 100%;
    margin: 0 20px; }

.lto-body-container {
  width: 960px;
  float: left; }

.site-logo {
  float: left; }
  .site-logo__link {
    display: block;
    background-size: contain;
    background-position: left center;
    width: 100px;
    height: 105px; }
  .site-logo__text {
    display: none; }

.site-header {
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #f5f5f5;
  line-height: 1.5;
  height: 103px;
  margin-bottom: 50px; }
  .site-header .site-header__inner {
    width: 1280px;
    margin: 0 auto; }

.site-header * {
  box-sizing: border-box; }

.site-header__primary,
.site-header__secondary {
  padding: 0 20px;
  position: relative; }

.site-header__primary {
  border-bottom: 1px solid #ededed; }

.site-header {
  height: 107px; }

.site-header__primary,
.site-header__secondary {
  float: left; }

.site-header__primary {
  width: 280px; }

.site-header__secondary {
  width: 500px;
  position: static; }

.site-footer {
  position: relative;
  width: 100%;
  background: #cac8c6;
  padding: 90px 0 30px;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.5; }

@media screen and (max-width: 1199px) {
  .site-footer {
    padding: 50px 30px; } }

@media screen and (max-width: 567px) {
  .site-footer {
    padding: 50px 20px; } }

.site-footer * {
  box-sizing: border-box; }

.site-footer__primary-block {
  text-align: center; }

.site-footer__primary-block-content {
  width: 1160px;
  display: inline-block;
  text-align: left;
  position: relative; }

@media screen and (min-width: 1300px) {
  .site-footer__primary-block-content {
    width: 1260px; } }

@media screen and (max-width: 1199px) {
  .site-footer__primary-block-content {
    width: 100%; } }

.site-footer__primary-block-column {
  width: 25%;
  float: left;
  margin: 0; }

@media screen and (max-width: 1099px) {
  .site-footer__primary-block-column {
    width: 50%;
    margin-bottom: 50px; } }

@media screen and (max-width: 567px) {
  .site-footer__primary-block-column {
    width: 100%;
    margin-bottom: 70px; } }

.site-footer__primary-block-column:last-child {
  width: 50%; }

@media screen and (max-width: 1099px) {
  .site-footer__primary-block-column:last-child {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 0; } }

.site-footer__primary-block-heading {
  font-size: 24px !important;
  font-weight: normal !important;
  margin: 0 0 10px !important;
  color: #333 !important;
  line-height: 1.1; }

.site-footer__primary-block-heading a {
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important; }

.site-footer__primary-block-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.site-footer__primary-block-list li {
  padding: 0;
  margin: 10px 0 0; }

.site-footer__primary-block-list li:first-child {
  margin: 0; }

.site-footer__primary-block-list a {
  color: #333 !important;
  font-weight: 600; }

/* SINGUP FORM */
.site-footer__signupForm {
  margin: 0 0 50px !important; }

@media screen and (max-width: 567px) {
  .site-footer__signupForm {
    margin-bottom: 70px !important; } }

.site-footer__signupForm input[name="jedimindtrick"] {
  display: none; }

.site-footer__singupFormInput {
  display: inline-block;
  border: 3px solid #333 !important;
  border-radius: 0 !important;
  height: 50px !important;
  line-height: 50px;
  font-family: "Simplon Norm", sans-serif;
  font-weight: bold;
  width: 445px;
  box-sizing: border-box;
  margin: 0 !important;
  font-size: 18px !important;
  padding: 5px 10px !important;
  color: #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.site-footer__singupFormInput.parsley-error {
  border-color: #ff5336 !important; }

@media screen and (min-width: 1300px) {
  .site-footer__singupFormInput {
    width: 495px; } }

@media screen and (min-width: 1100px) {
  .site-footer__singupFormInput {
    margin-right: 20px !important; } }

@media screen and (max-width: 1199px) {
  .site-footer__singupFormInput {
    width: 60%;
    margin-right: 20px !important; } }

@media screen and (max-width: 567px) {
  .site-footer__singupFormInput {
    width: 100%;
    margin: 0 0 25px !important;
    font-size: 16px !important; } }

.site-footer__signupFormButton {
  display: inline-block;
  vertical-align: top;
  background-color: #333 !important;
  color: #fff !important;
  height: 50px !important;
  line-height: 50px;
  font-family: "Simplon Norm", sans-serif;
  font-weight: bold;
  width: 115px;
  border: none;
  margin: 0 !important;
  font-size: 18px;
  font-size: 1.125rem; }

.site-footer__signupFormButton:hover {
  background-color: #000 !important; }

@media screen and (min-width: 1200px) {
  .site-footer__signupFormButton {
    float: right; } }

@media screen and (max-width: 1099px) {
  .site-footer__signupFormButton {
    float: none; } }

@media screen and (max-width: 567px) {
  .site-footer__signupFormButton {
    float: none;
    font-size: 16px !important; } }

/* CONTACT SECTION */
.site-footer__primary-block-contactList {
  list-style: none;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 567px) {
  .site-footer__primary-block-contactList {
    margin-bottom: 70px; } }

.site-footer__primary-block-contactList li {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0 0 30px; }

@media screen and (max-width: 567px) {
  .site-footer__primary-block-contactList li {
    width: 100%;
    float: none; } }

.site-footer__primary-block-contactList h3 {
  color: #fff;
  font-size: 16px !important;
  font-weight: normal !important;
  text-transform: uppercase;
  margin: 0 0 5px !important;
  line-height: 1.1; }

.site-footer__primary-block-contactList p {
  font-weight: 600;
  margin: 0 0 5px !important; }

.site-footer__primary-block-contactList a {
  font-weight: 600;
  color: #333 !important;
  text-decoration: underline; }

/* SOCIAL MEDIA */
.site-footer__primary-block-socialMedialList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; }

@media screen and (max-width: 1099px) {
  .site-footer__primary-block-socialMedialList {
    margin: 0 0 30px; } }

@media screen and (max-width: 567px) {
  .site-footer__primary-block-socialMedialList {
    margin-bottom: 70px;
    width: 100%; } }

.site-footer__primary-block-socialMedialList li {
  float: left;
  display: inline-block;
  margin: 0 20px 0 0; }

@media screen and (max-width: 567px) {
  .site-footer__primary-block-socialMedialList li {
    margin: 0 0 0 15px; }
  .site-footer__primary-block-socialMedialList li:first-child {
    margin: 0; } }

.site-footer__primary-block-socialMedialList a {
  display: inline-block;
  margin: 0;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: 0;
  line-height: 1; }

@media screen and (max-width: 567px) {
  .site-footer__primary-block-socialMedialList a {
    width: 54px;
    height: 54px; } }

/* ORNAMENT GRAPHICS */
.site-footer__figure {
  display: none;
  position: absolute;
  background-size: contain;
  background-position: 0; }

@media screen and (min-width: 1300px) {
  .site-footer__figure {
    display: block; } }

.site-footer__figure--displays {
  left: -491px;
  top: 0;
  height: 350px;
  width: 471px; }

@media screen and (min-width: 1990px) {
  .site-footer__figure--displays {
    height: 543px;
    width: 731px;
    left: -751px; } }

.site-footer__figure--mail {
  right: -390px;
  top: 35px;
  height: 240px;
  width: 370px; }

@media screen and (min-width: 1990px) {
  .site-footer__figure--mail {
    height: 407px;
    width: 630px;
    right: -660px; } }

/* SITE COLOPHON */
.site-footer__colophon {
  width: 1260px;
  padding: 0;
  margin: 50px auto 0; }

.site-footer__colophonText {
  font-size: 16px;
  color: #fff;
  margin: 0 20px 0 0; }

.site-footer__colophonLink {
  font-size: 16px;
  color: #fff !important; }

#updPnlCatalogList .tooltip {
  font-size: 16px; }
  #updPnlCatalogList .tooltip .tooltiptext {
    font-size: 12px; }

#updPnlCatalogList .location {
  font-size: 16px; }

#updPnlCatalogList .subtitle-name {
  font-size: 14px; }

#updPnlCatalogList .certificateTextHidden {
  color: inherit !important; }

#updPnlCatalogList a[id*='dtCatlogListView_ctrl'][id$='ctl00_lnkBtnSchedule'],
#updPnlCatalogList a[id*='dtCatlogListView_ctrl'][id$='ctl00_lnkSchPricing'] {
  display: inline-block;
  background: #F5F3F1;
  margin: 5px 0;
  padding: 5px 5px 3px;
  border-radius: 5px; }
  #updPnlCatalogList a[id*='dtCatlogListView_ctrl'][id$='ctl00_lnkBtnSchedule'] > div,
  #updPnlCatalogList a[id*='dtCatlogListView_ctrl'][id$='ctl00_lnkSchPricing'] > div {
    line-height: 20px;
    vertical-align: middle; }
  #updPnlCatalogList a[id*='dtCatlogListView_ctrl'][id$='ctl00_lnkBtnSchedule'] img,
  #updPnlCatalogList a[id*='dtCatlogListView_ctrl'][id$='ctl00_lnkSchPricing'] img {
    margin-bottom: 0; }

.list-view table thead tr th {
  border-color: #E6E4E3; }

.list-view table tbody tr td {
  border-bottom: 2px solid #E6E4E3;
  padding: 30px 0; }

.tab-container {
  height: 40px;
  background: #F5F3F1;
  border-top: 2px solid #E6E4E3; }

#dvTabBarContainer #searchinput,
#dvTabBarContainer #txtSearchInput {
  margin-top: 5px;
  height: 15px;
  margin-bottom: 0; }

.lto-primary-nav {
  width: 200px;
  float: left;
  margin: 0 80px 100px 0; }
  .lto-primary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-width: 1px 1px 0;
    font-size: 20px; }
    .lto-primary-nav ul ul {
      margin-bottom: 20px; }
    .lto-primary-nav ul li {
      list-style: none;
      padding: 10px 0;
      margin: 0;
      font-weight: 600;
      color: #333; }
    .lto-primary-nav ul a {
      font-weight: 400;
      font-size: 16px; }
      .lto-primary-nav ul a:active, .lto-primary-nav ul a:focus, .lto-primary-nav ul a:hover {
        color: #333; }

.lto-body-container select {
  display: block;
  height: 32px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  font-family: inherit;
  min-width: 335px; }
  .lto-body-container select option {
    font-size: 16px; }

.lto-body-container select[multiple=""] {
  min-height: 150px; }
  .lto-body-container select[multiple=""] option {
    padding: 3px 0; }

#myprofileMain input:not([type="checkbox"]),
input[type="password"],
input[type="text"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s,box-shadow linear 0.2s;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  vertical-align: middle;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px; }

#myprofileMain input:not([type="checkbox"]) {
  margin-left: 0;
  margin-right: 0;
  box-sizing: content-box; }

#myprofileMain select {
  min-width: 250px; }

.search-page-form {
  width: 400px;
  margin: 30px auto; }

.search-page-select {
  width: 100%;
  margin: 0 0 15px; }
