@font-face {
  font-family: 'Simplon Norm';
  src: url('https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Medium-WebS.ttf') format('truetype'), url('https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Medium-WebS.woff') format('woff'), url('https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Regular-WebS.ttf') format('truetype'), url('https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Regular-WebS.woff') format('woff'),;
}
@font-face {
  font-family: "Simplon Norm";
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Medium-WebS.eot");
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Medium-WebS.eot#iefix") format("embedded-opentype"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Medium-WebS.woff") format("woff"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Medium-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Medium-Web/S/SimplonNorm-Medium-WebS.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Simplon Norm";
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Regular-WebS.eot");
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Regular-WebS.eot#iefix") format("embedded-opentype"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Regular-WebS.woff") format("woff"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Regular-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Regular-Web/S/SimplonNorm-Regular-WebS.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Simplon Norm";
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Light-WebS.eot");
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Light-WebS.eot#iefix") format("embedded-opentype"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Light-WebS.woff") format("woff"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-Light-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Light-Web/S/SimplonNorm-Light-WebS.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Simplon Norm";
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.eot");
  src: url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.eot#iefix") format("embedded-opentype"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.woff") format("woff"), url("https://inter.viewcentral.com/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-LightItalic-Web/S/SimplonNorm-LightItalic-WebS.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
