.lto-body-container select {
  display: block;
  height: 32px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  font-family: inherit;
  min-width: 260px;

  option {
    font-size: 16px;
  }
}

.lto-body-container select[multiple=""] {
  min-height: 150px;

  option {
    padding: 3px 0;
  }
}

#myprofileMain input:not([type="checkbox"]),
input[type="password"],
input[type="text"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border linear 0.2s,box-shadow linear 0.2s;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  vertical-align: middle;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}

#myprofileMain input:not([type="checkbox"]) {
  margin-left: 0;
  margin-right: 0;
  box-sizing: content-box;
}
