.site-logo {
  float: left;

  &__link {
    display: block;
    background-size: contain;
    background-position: left center;
    width: 100px;
    height: 105px;
  }

  &__text {
    display: none;
  }
}

.site-header {
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid #f5f5f5;
  line-height: 1.5;
  height: 103px;
  margin-bottom: 50px;

  .site-header__inner {
    width: 1280px;
    margin: 0 auto;
  }
}

.site-header * {
  box-sizing: border-box;
}

.site-header__primary,
.site-header__secondary {
  padding: 0 20px;
  position: relative;
}

.site-header__primary {
  border-bottom: 1px solid #ededed;
}

.site-header {
  height: 107px;
}

.site-header__primary,
.site-header__secondary {
  float: left;
}

.site-header__primary {
  width: 280px;
}

.site-header__secondary {
  width: 500px;
  position: static;
}
