.clearfix {
	*zoom: 1;

	&:after,
	&:before {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
		clear: both;
	}
}

.lto-page-container {
	width: 1280px;
	margin: 0 auto;

	&__inner {
		width: 100%;
		margin: 0 20px;
	}
}

.lto-primary-nav {
	width: 200px;
	float: left;
	margin-right: 80px;
}

.lto-primary-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-width: 1px 1px 0;
	font-size: 20px;
}

.lto-primary-nav ul ul {
	margin-bottom: 20px;
}

.lto-primary-nav ul li {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	font-weight: 600;
	color: #333;
}

.lto-primary-nav ul li a {
	font-weight: 400;
	font-size: 16px;
}

.lto-primary-nav ul li a:active,
.lto-primary-nav ul li a:focus,
.lto-primary-nav ul li a:hover {
	color: #333;
}

.lto-body-container {
	width: 960px;
	float: left;
}

.lto-body-container select[size] {
	width: inherit;
}

.lto-body-container select option {
	font-size: 16px;
	font-weight: 500;

}

.list-view table thead tr th {
	padding: 20px 10px 6px 21px;
	border-bottom: 1px solid #E6E4E3;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	white-space: nowrap;
}

.list-view table tbody tr td {
	border-bottom: 1px solid #E6E4E3;
	padding: 30px 0;
}

.tab-container {
	height: 40px;
	background: #F5F3F1;
	border-top: 1px solid #E6E4E3;
}

.lto-body-container select[name="eventMonthYear"],
.lto-body-container select[name="event_address_id"],
.lto-body-container select[name="event_id"],
.lto-body-container select[name="event_type_id"] {
	padding: 4px 5px;
	width: 100%;
	min-height: 100px;
	border-radius: 5px;
	margin: 0 auto 30px;
}

#dvtileViewLink {
	display: none;
}

#dvListViewLink {
	display: none;
}

.lto-body-container {
	h2 {
		text-align: left;
		font-size: 38px;
		margin-bottom: 20px;
	}
}
