/*
//
//
// Colors
//
$color-primary-1: #ff553e;
$color-primary-2: #05149B;
$color-white: #fff;
$color-border: #ccc;
$color-dark-grey: #7b7a79;
$color-medium-grey: #E6E4E3;
$color-light-grey: #F5F3F1;
$text: #333;
*/
@font-face {
  font-family: 'Simplon Norm';
  src: url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.ttf") format("truetype"), url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.woff") format("woff"), url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.ttf") format("truetype"), url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.woff") format("woff"); }

@font-face {
  font-family: "Simplon Norm";
  src: url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.eot");
  src: url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.eot#iefix") format("embedded-opentype"), url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.woff") format("woff"), url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Medium-Web/S/SimplonNorm-Medium-WebS.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Simplon Norm";
  src: url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.eot");
  src: url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.eot#iefix") format("embedded-opentype"), url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.woff") format("woff"), url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Regular-Web/S/SimplonNorm-Regular-WebS.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Simplon Norm";
  src: url("/events/uploads/Episerver/SimplonNorm-Light-WebS.eot");
  src: url("/events/uploads/Episerver/SimplonNorm-Light-WebS.eot#iefix") format("embedded-opentype"), url("/events/uploads/Episerver/SimplonNorm-Light-WebS.woff") format("woff"), url("/events/uploads/Episerver/SimplonNorm-Light-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Light-Web/S/SimplonNorm-Light-WebS.svg") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Simplon Norm";
  src: url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.eot");
  src: url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.eot#iefix") format("embedded-opentype"), url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.woff") format("woff"), url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.ttf") format("truetype"), url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-LightItalic-Web/S/SimplonNorm-LightItalic-WebS.svg") format("svg");
  font-weight: 100;
  font-style: italic; }

.lto-page-container {
  width: 1280px;
  margin: 0 auto; }

.lto-primary-nav {
  width: 220px;
  float: left;
  margin-right: 100px; }

.lto-primary-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-width: 1px 1px 0;
  font-size: 20px; }

.lto-primary-nav ul ul {
  margin-bottom: 20px; }

.lto-primary-nav ul li {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  font-weight: 600;
  color: #333; }

.lto-primary-nav ul li a {
  font-weight: 400;
  font-size: 16px; }

.lto-primary-nav ul li a:hover,
.lto-primary-nav ul li a:active,
.lto-primary-nav ul li a:focus {
  color: #333; }

.lto-body-container {
  width: 960px;
  float: left; }

/*buttons styling*/
.lto-button {
  background-color: #fff;
  color: #ff553e;
  border: 2px solid #ff553e;
  font-weight: 400;
  padding: .8em;
  text-align: center;
  line-height: 1;
  min-width: 180px;
  font-size: 16px;
  font-family: "Simplon Norm",sans-serif; }

.lto-button:hover {
  text-decoration: none !important;
  border-color: #ff553e;
  background-color: #ff553e;
  color: #fff; }

/*lto- navigation buttons*/
.lto-sm-button {
  background: #05149b;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  /*padding: 7px 40px;
	margin: 7px 10px;*/
  padding: 12px 30px;
  min-width: 100px;
  margin: 12px;
  font-family: "Simplon Norm",sans-serif;
  text-align: center; }

.lto-sm-button span {
  display: inline-block; }

.lto-sm-button:hover {
  background: #071acc;
  text-decoration: none !important; }

.lto-body-container select[size] {
  width: inherit; }

.lto-body-container select option {
  font-size: 16px;
  font-weight: 500; }

.list-view table thead tr th {
  padding: 20px 10px 6px 21px;
  border-bottom: 1px solid #E6E4E3;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap; }

.list-view table tbody tr td {
  border-bottom: 1px solid #E6E4E3;
  padding: 30px 0px 30px 0px; }

.tab-container {
  height: 40px;
  background: #F5F3F1;
  border-top: 1px solid #E6E4E3; }

.lto-body-container select[name="event_address_id"],
.lto-body-container select[name="event_type_id"],
.lto-body-container select[name="eventMonthYear"],
.lto-body-container select[name="event_id"] {
  width: 500px;
  min-height: 100px;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  margin: 0 auto 30px; }

#dvtileViewLink {
  display: none; }

#dvListViewLink {
  display: none; }
