@font-face {
			font-family: 'Simplon Norm';
			src:url('/events/uploads/Episerver/SimplonNorm-Medium-WebS.ttf') format('truetype'),
				url('/events/uploads/Episerver/SimplonNorm-Medium-WebS.woff') format('woff'),
				url('/events/uploads/Episerver/SimplonNorm-Regular-WebS.ttf') format('truetype'),
				url('/events/uploads/Episerver/SimplonNorm-Regular-WebS.woff') format('woff'),;
			}
@font-face {
	font-family: "Simplon Norm";
	src: url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.eot");
	src: url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.eot#iefix") format("embedded-opentype"), 
	url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.woff") format("woff"), 
	url("/events/uploads/Episerver/SimplonNorm-Medium-WebS.ttf") format("truetype"), 
	url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Medium-Web/S/SimplonNorm-Medium-WebS.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Simplon Norm";
	src: url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.eot");
	src: url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.eot#iefix") format("embedded-opentype"), 
	url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.woff") format("woff"), 
	url("/events/uploads/Episerver/SimplonNorm-Regular-WebS.ttf") format("truetype"), 
	url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Regular-Web/S/SimplonNorm-Regular-WebS.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Simplon Norm";
	src: url("/events/uploads/Episerver/SimplonNorm-Light-WebS.eot");
	src: url("/events/uploads/Episerver/SimplonNorm-Light-WebS.eot#iefix") format("embedded-opentype"), 
	url("/events/uploads/Episerver/SimplonNorm-Light-WebS.woff") format("woff"), 
	url("/events/uploads/Episerver/SimplonNorm-Light-WebS.ttf") format("truetype"), 
	url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-Light-Web/S/SimplonNorm-Light-WebS.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Simplon Norm";
	src: url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.eot");
	src: url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.eot#iefix") format("embedded-opentype"), 
	url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.woff") format("woff"), 
	url("/events/uploads/Episerver/SimplonNorm-LightItalic-WebS.ttf") format("truetype"), 
	url("http://www.episerver.com/framework/styles/fonts/SimplonNorm-LightItalic-Web/S/SimplonNorm-LightItalic-WebS.svg") format("svg");
	font-weight: 100;
	font-style: italic;
}

.lto-body-container { 
	width: 85%; 
	margin:auto; 
}
/*buttons styling*/
.lto-button {
	background-color: #fff;
	color: #ff553e;
	border: 2px solid #ff553e;
	font-weight: 400;
	padding: .8em;
	text-align: center;
	line-height: 1;
	min-width: 180px;
	font-size: 16px;
	font-family: "Simplon Norm",sans-serif
}

.lto-button:hover {
	text-decoration: none !important;
	border-color: #ff553e;
	background-color: #ff553e;
	color: #fff;
}
/*lto- navigation buttons*/
.lto-sm-button {
	background: #05149b;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	font-size: 12px;
	/*padding: 7px 40px;
	margin: 7px 10px;*/
	padding: 7px; 
	margin: 7px; 
	font-family: "Simplon Norm",sans-serif;
	text-align: center;
}

.lto-sm-button:hover {
	background: #071acc;
	text-decoration: none !important;
}

.lto-body-container select[size] {
	width: inherit;
}

.lto-body-container select option {
	font-size: 16px;
    font-weight: 500;
    
}


